body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.container {
    margin: auto;
    height: 1200px;
    background: url("ocean.jpg") center center fixed;
    background-size: cover;
    background-color: rgb(60, 65, 70);
}

.siteHeader {
    color: whitesmoke;
    background-color: lightskyblue;
    margin: auto;
    padding: 50px;
    width: 700px;
}

.searchPart {
    margin-left: 200px;
    margin-top: 40px;
    padding: 15px;
}

.sidebar {
    margin: 0;
    padding: 0;
    padding-top: 300px;
    width: 200px;
    background-color: #f1f1f1;
    opacity: 0.8;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: medium;
  }

.sidebar a:hover:not(.active) {
    background-color: lightskyblue;
    color: white;
  }
  
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.modalGoesHere {
      margin-left: 380px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

#infoOne {
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 50px;
    width: 700px;
    height: auto;
  }

#infoTwo {
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 700px;
    height: auto;
    align-content: content; 
  }

.showAllStateFacts {
      display: none;
  }

#searchIcon {
      padding-top: 12px;
      margin-top: 10px;
      width: 40px;
  }

#h3Header {
      text-align: right;
      border-top-style: solid;
      border-top-color: #f1f1f1;
      padding-top: 5px;
  }

hr {
    border: solid 1px #f1f1f1;
}
