body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.container {
    margin: auto;
    height: 1200px;
    background: url("ocean.jpg") center center fixed;
    background-size: cover;
    background-color: rgb(60, 65, 70);
}

.siteHeader {
    color: whitesmoke;
    background-color: lightskyblue;
    margin: auto;
    padding: 50px;
    width: 800px;
}

.searchPart {
    margin-left: 260px;
    margin-top: 40px;
    padding: 15px;
}

.sidebar {
    margin: 0;
    padding: 0;
    padding-top: 200px;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: medium;
  }

  .sidebar a:hover:not(.active) {
    background-color: lightskyblue;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 2px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.modalGoesHere {
      margin-left: 460px;
      padding-top: 10px;
      padding-bottom: 10px;
      /* display: none; */
  }

#infoOne {
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 800px;
    height: 200px;
  }

  #infoTwo {
    background-color: lightskyblue;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 800px;
    height: 200px;
  }

  #infoThree {
    background-color: lightskyblue;
    margin: auto;
    padding: 10px;
    width: 800px;
    height: 200px;
  }

  .showAllStateFacts {
      display: none;
  }

  #searchIcon {
      padding-top: 12px;
      margin-top: 10px;
      width: 40px;
  }